.carrito {
  display: flex;
  position: absolute;
  right: 30px;
  top: 45px;
}

.carrito .menu {
  width: 35px;
  margin: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: -webkit-transform, transform;
}

.carrito .menu:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.cart-count {
  display: block;
  position: fixed;
  top: 30px;
  right: 28px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: red;
}

.searchEnabled {
  display: block;
}

.searchDisabled {
  display: none;
}

.lupa-on {
  visibility: visible;
}

.lupa-off {
  visibility: hidden;
}
