.carrito {
  display: flex;
  position: absolute;
  right: 30px;
  top: 45px;
}

.carrito > img {
  width: 35px;
  margin: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: -webkit-transform, transform;
}

.carrito > img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
