.CardContainer {
  width: 90%;
  margin-left: 65px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: 1fr;
  grid-gap: 1em;
}
