.cartDetail {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row;
}

hr {
  max-width: 60%;
  margin-left: 50px;
}

.cartImg > img {
  width: 100px;
  flex-flow: column;
  padding: 10px;
}

.cartInfo {
  width: 30%;
  margin: 10px 10px 10px 10px;
  flex-flow: column;
  padding: 20px 10px 10px 10px;
}

.cartDescription {
  font-size: 0.8em;
}

.cartPrice {
  width: 10%;
  font-size: 1.2em;
  font-weight: 400;
  flex-flow: column;
  margin: 10px 10px 10px 15px;
  padding: 20px 10px 10px 10px;
}

.cartQtn {
  width: 30px;
  font-size: 1.2em;
  font-weight: 400;
  flex-flow: column;
  margin: 10px 0 10px 10px;
  padding: 20px 0 10px 10px;
}

.btn-deleteCart {
  font-family: sans-serif;
  font-size: 26px;
  flex-flow: column;
  color: rgb(80, 78, 78);
  cursor: pointer;
}

.cartDelete {
  color: rgb(80, 78, 78);
  font-size: 20px;
  cursor: pointer;
  display: block;
  position: relative;
  margin-top: 30px;
  margin-left: 60px;
}

.volver {
  color: rgb(80, 78, 78);
  font-size: 20px;
  cursor: pointer;
  display: block;
  position: relative;
  margin-top: 30px;
  margin-left: 60px;
}

a {
  text-decoration: none;
}

.precioTotal {
  position: absolute;
  top: 43%;
  left: 70%;
  margin: 0;
  text-align: center;
}
.line-precioTotal {
  padding-bottom: 10px;
  border-bottom: solid rgb(122, 122, 122) 1px;
  font-weight: bold;
  font-size: 18px;
}
.totalText {
  margin-right: 140px;
}
.container-total {
  display: inline-block;
}

.precioTotal > h2 {
  margin: auto;
  color: rgb(0, 0, 0) !important;
}

.precioTotal > p {
  margin: auto;
  color: rgb(0, 0, 0) !important;
}

.btn-comprar2 {
  margin-top: 40px;
}

.error {
  display: block;
  width: 360px;
  margin: auto;
  border: solid black 1px;
  margin-top: 50px;
}

.detalle-cart {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row;
  line-height: 3;
}

.detalle-producto {
  width: 20%;
  flex-flow: column;

  padding: 20px 10px 0 10px;
}

.detalle-descripcion {
  width: 23%;
  flex-flow: column;
  padding: 20px 10px 0 10px;
}

.detalle-precio {
  width: 100px;
  flex-flow: column;
  padding: 20px 10px 0 10px;
}

.detalle-cantidad {
  width: 24%;
  padding: 20px 10px 0 10px;
}

.cant {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  border: none;
  min-width: inherit;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .cartDetail {
    width: 70%;
    margin-left: 20px;
  }
  .detalle-cart {
    width: 70%;
    margin-left: 60px;
  }
  .precioTotal {
    left: 65%;
  }
  .btn-comprar2 {
    width: 270px;
    margin-top: 20px;
  }
}

@media (max-width: 778px) {
  .totalText {
    margin-right: 50px;
  }
  .btn-comprar2 {
    width: 180px;
    font-size: 16px;
  }
  .precioTotal {
    left: 70%;
  }
}
