.Header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 140px;
}

.Header h1,
h2 {
  color: rgb(121, 113, 113);
}
.logo {
  width: 240px;
  position: absolute;
  top: 20px;
}
